# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='blue'>Capítulo 4 - Estruturas de Dados (Listas)</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

### Trabalhando com Listas

In [1]:
# Criando uma lista
lista_1 = ["arroz, frango, tomate, leite"]

In [3]:
type(lista_1)

list

In [4]:
# Imprimindo a lista
print(lista_1)

['arroz, frango, tomate, leite']

In [9]:
# Criando outra lista
lista_2 = ["arroz", "frango", "tomate", "leite"]

In [12]:
type(lista_2)

list

In [14]:
# Imprimindo a lista
print(lista_2)

['arroz', 'frango', 'tomate', 'leite']

In [17]:
# Criando lista
lista_3 = [23, 100, "Cientista de Dados"]

In [19]:
type(lista_3)

list

In [100]:
# Imprimindo
print(lista_3)

[23, 100, 'Cientista de Dados']

In [102]:
# Atribuindo cada valor da lista a uma variável.
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [104]:
# Imprimindo as variáveis
print(item1, item2, item3)

23 100 Cientista de Dados

### Atualizando Um Item da Lista

In [106]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [108]:
# Imprimindo um item da lista
lista_2[2]

'tomate'

In [110]:
# Atualizando um item da lista
lista_2[2] = "chocolate"

In [112]:
# Imprimindo lista alterada
lista_2

['arroz', 'frango', 'chocolate', 'leite']

### Deletando Um Item da Lista

In [115]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

In [117]:
# Não é possível deletar um item que não existe na lista. Vai gerar erro index out of range
del lista_2[4]

IndexError: list assignment index out of range

In [119]:
# Deletando um item específico da lista
del lista_2[3]

In [121]:
# Imprimindo o item com a lista alterada
lista_2

['arroz', 'frango', 'chocolate']

### Listas de Listas (Listas Aninhadas)

Listas de listas são matrizes em Python.

In [ ]:
# Criando uma lista de listas
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [ ]:
# Imprimindo a lista
print(listas)

In [ ]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [ ]:
a

In [ ]:
b = a[0]

In [ ]:
b

In [ ]:
list1 = listas[1]

In [ ]:
list1

In [ ]:
valor_1_0 = list1[0]

In [ ]:
valor_1_0

In [ ]:
valor_1_2 = list1[2]

In [ ]:
valor_1_2

In [ ]:
list2 = listas[2]

In [ ]:
list2

In [ ]:
valor_2_0 = list2[0]

In [ ]:
valor_2_0

### Operações com Listas

In [ ]:
# Criando uma lista aninhada (lista de listas)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [ ]:
listas

In [ ]:
# Atribuindo à variável a o primeiro valor da primeira lista
a = listas[0][0]

In [ ]:
a

In [ ]:
b = listas[1][2]

In [ ]:
b

In [ ]:
c = listas[0][2] + 10

In [ ]:
c

In [ ]:
d = 10

In [ ]:
d

In [ ]:
e = d * listas[2][0]

In [ ]:
e

### Concatenando Listas

In [ ]:
lista_s1 = [34, 32, 56]

In [ ]:
lista_s1

In [ ]:
lista_s2 = [21, 90, 51]

In [ ]:
lista_s2

In [ ]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [ ]:
lista_total

## Operador in

In [ ]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [ ]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

In [ ]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

## Funções Built-in

In [ ]:
# Criando uma lista
lista_numeros = [10, 20, 50, -3.4]

In [ ]:
# Função len() retorna o comprimento da lista
len(lista_numeros)

In [ ]:
# Função max() retorna o valor máximo da lista
max(lista_numeros)

In [ ]:
# Função min() retorna o valor mínimo da lista
min(lista_numeros)

In [ ]:
# Criando uma lista
lista_formacoes_dsa = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]

In [ ]:
lista_formacoes_dsa

In [ ]:
# Adicionando um item à lista
lista_formacoes_dsa.append("Engenheiro de IA")

In [ ]:
lista_formacoes_dsa

In [ ]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [ ]:
lista_formacoes_dsa

In [ ]:
lista_formacoes_dsa.count("Engenheiro de IA")

In [ ]:
# Criando uma lista vazia
a = []

In [ ]:
print(a)

In [ ]:
type(a)

In [ ]:
a.append(10)

In [ ]:
a

In [ ]:
a.append(50)

In [ ]:
a

In [1]:
old_list = [1,2,5,10]

In [3]:
new_list = []

In [5]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [7]:
new_list

[1, 2, 5, 10]

In [14]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [16]:
cidades.index('Salvador')

2

Lembre-se: em Python o índice começa por 0!

In [ ]:
cidades.index('Rio de Janeiro')

In [ ]:
cidades

In [ ]:
cidades.insert(2, 110)

In [ ]:
cidades

In [ ]:
# Remove um item da lista
cidades.remove(110)

In [ ]:
cidades

In [ ]:
# Reverte a lista
cidades.reverse()

In [ ]:
# Imprime a lista
cidades

In [ ]:
x = [3, 4, 2, 1]

In [ ]:
x

In [ ]:
# Ordena a lista
x.sort()

In [ ]:
x

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>